body
{
	width: 230mm;
	margin: 0 auto;
	padding: 0;
	height: 297mm;
	font-family: "Helvetica";
}

.titre
{
	text-align: center;
}

.section_1, .section_2, .section_3
{
	display: flex;
	height: calc(100% /3);
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.section_1, .section_3
{
	background-color: rgb(167, 192, 162);
}

.section_2
{
	background-color: rgb(248, 250, 239);
}

#surligne
{
	background-color: rgb(101, 161, 146);
}

h1, #blanc
{
	color: white;
}

#logo
{
	max-width: 80px;
	margin-right: 10px;
}

#image
{
	max-height: 250px;
}

.introduction > #blanc
{
	margin-left: 10%;
	margin-right: -10%
}

.competences
{
	width: 55%;
}

.reseaux
{
	margin-left: -25%;
}